// FONT
$indieFlower: 'Indie Flower', sans-serif;
$poppinsRegular: 'Poppins Regular', sans-serif;
$poppinsBold: 'Poppins Bold', sans-serif;
$poppinsLight: 'Poppins Light', sans-serif;

// BACKGROUND
$backgroundDark: #1D1C27;
$backgroundLight: #fff;
$backgroundPink: #F31B5A;
$backgroundMulticolored: url(../../assets/img/301dev.com.multicolor.jpg);

// MAX WIDTH
$containerMaxWidth: 1450px;

// BORDER
$borderSolidLight: 2px solid #fff;
$borderSolidDark: 2px solid #1D1C27;
$borderRad: 5px;

// TRANSITION
$transitionGlobal: all 0.2s ease-in-out;

// MEDIA QUERY
$mobile: 650px;
$tablet: 750px;