<div class="navbar">
    <div class="logo">
        <a href="https://301dev.com/"><img src="../../public/assets/img/301dev-logo.svg" class="logo-hovered" alt="Logo 301dev.com"><img src="../../public/assets/img/301dev-logo-without-text.png" class="logo-hover" alt="Logo 301dev.com"></a>
    </div>
    <div class="links">
        <div class="hamburger">
        <svg viewBox="0 0 448 512" width="30" title="bars" fill="#fff">
            <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
        </svg>
        </div>
        <a href="#">Accueil</a>
        <a href="#">Qui suis-je ?</a>
        <a href="#">Mes projets</a>
        <a href="#">Actualités</a>
    </div>
    <div class="linkContact">
        <a href="#">Contact</a>
    </div>
</div>
<div class="containerHeader">
    <div class="headerContentLeft">
        <h1>Clément Lafargue</h1>
    </div>
    <div class="headerContentRight">
        <div class="card">
            <a href="#" class="link">
                <div class="image">
                    <img src="https://www.301dev.com/codepenimg/301dev.com.400x300.png" alt="template 400x300">
                </div>
                <div class="content">
                    <h3 class="title">Lorem ipsum</h3>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum sed ante id malesuada Pellentesque sit amet libero et neque convallis ultrices ac sit amet justo.</p>
                    <a href="#" class="showMore">Show More</a>
                </div>
            </a>
        </div>
    </div>
</div>