@font-face {
    font-family: "Poppins Regular";
    src: url("../../assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../../assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Indie Flower";
    src: url("../../assets/fonts/indieflower/IndieFlower-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}