#header {
	background-color: $backgroundDark;
	position: relative;
	z-index: 0;
    .navbar {
		display: flex;
		align-items: center;
		padding: 1em 0 1em 1em;
		max-width: $containerMaxWidth;
		margin: auto;
		position: relative;
		background-color: $backgroundDark;
		
		.logo {
			width: 100%;
			max-width: 7%;
			
			a {
				text-decoration: none;
				position: relative;

				.logo-hovered,.logo-hover {
					width: 100%;
					height: auto;
				}

				.logo-hovered {
					transform: scale(0);
					transition: all .3s cubic-bezier(1, 0.83, 0.85, 0.09);
				}

				.logo-hover {
					position: absolute;
					left: 0;
					background-color: $backgroundDark;
					opacity: 1;
					transition: all .4s cubic-bezier(1, 0.83, 0.85, 0.09);
				}

				&:hover {
					.logo-hovered {
						transform: scale(1.1);
					}
					.logo-hover {
						opacity: 0;
						transform: scale(1.5);
					}
				}
			}
		}
		
		.links {
			margin-left: 2em;
			
			.hamburger {
				display: none;
				cursor: pointer;
			}
			
			a {
				text-decoration: none;
				color: #fff;
				margin-right: 1em;
				font-family: $poppinsBold;
				padding-bottom: .3em;
				background: linear-gradient(to top, #F31B5A 0%, #F31B5A 10%, transparent 10.01%) no-repeat left bottom /0 100%;
				color: #fff;
				height: 2em;
				transition: all .5s cubic-bezier(0.57, 0.84, 0.57, 0.13);
				
				&:hover {
					background-size: 80% 100%;
				}
			}
		}
		
		.linkContact {
			position: absolute;
			right: 2em;
			z-index: 0;
				a {
				text-decoration: none;
				color: #fff;
				font-weight: bold;
				padding: 1em 2em;
				border: $borderSolidLight;
				border-radius: $borderRad;
				position: relative;
					
				&::before {
					content: "";
					position: absolute;
					background-image: $backgroundMulticolored;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					background-position: 10% 0;
					width: 100%;
					height: 100%;
					z-index: -1;
					right: -0.5em;
					top: 0.5em;
					border-radius: $borderRad;
					transition: $transitionGlobal;
					transition-delay: 0.1s;
				}
					
				&:hover {
					&::before {
						right: 0;
						top: 0;
					}
				}
			}
		}
	}

	.containerHeader {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin: 2em auto;
		padding: 1em;
		max-width: $containerMaxWidth;

		.headerContentLeft {
			h1 {
				color: #fff;
				font-family: $indieFlower;
				position: relative;
				font-size: 80px;
				
				&::before {
					content: "Salut, mon nom est ";
					position: absolute;
					font-size: 25px;
					font-family: $indieFlower;
					width: 100%;
					top: -.5em;
					left: .3em;
				}

				&::after {
					content: "je construis des choses pour le web";
					position: absolute;
					font-size: 25px;
					font-family: $indieFlower;
					width: 100%;
					bottom: -.2em;
					left: .3em;
				}
			}
		}

	.card {
		background: #fff;
		border-radius: $borderRad;
		height: 450px;
		margin-bottom: 2em;
		margin-right: 2em;
		max-width: 333.33333px;
		position: relative;
		width: 100%;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	
		&::before {
			content: "";
			position: absolute;
			background-image: $backgroundMulticolored;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: 10% 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			right: -0.5em;
			top: 0.5em;
			border-radius: $borderRad;
			transition: all 0.2s ease-in-out;
			transition-delay: 0.1s;
		}
			
			&::after {
				content: "Dernière actualité";
				color: #fff;
				position: absolute;
				font-size: 22px;
				text-transform: uppercase;
				font-weight: bold;
				width: auto;
				padding: 1em .5em 1em .5em;
				bottom: 0em;
				left: -1.5em;
				transform: rotate(-90deg);
				transform-origin: left;
				background-image: $backgroundMulticolored;
				background-size: cover;
				border-radius: $borderRad;
				z-index: -1;
			}
	
		.link {
			text-decoration: none;
			color: unset;
		}
	
		.image {
			position: relative;
			height: 200px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $borderRad;
			padding: 2em 1em 1em 1em;
			transition: all 0.2s ease-in-out;
			transition-delay: 0.2s;
	
			img {
			width: 100%;
			max-width: 100%;
			border-radius: $borderRad;
			}
		}
	
		.content {
			padding: 1em;
			width: 100%;
	
			.desc {
			width: 85%;
			text-overflow: ellipsis;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			}
	
			.showMore {
			text-decoration: none;
			font-weight: bold;
			position: absolute;
			bottom: 1.5em;
			right: 1em;
			background-color: #1d1c27;
			color: #fff;
			padding: 0.5em 0.5em;
			border-radius: 4px;
			}
		}
	
		&:hover {
			&::before {
			right: -1em;
			top: 1em;
			}
			.image {
			transform: rotate(2deg) scale(1.05);
			}
	
			.showMore {
			background-image: $backgroundMulticolored;
			background-repeat: no-repeat;
			background-size: cover;
			}
		}
		}
	}
}